/* 
 * Styling for UI
 *
 * Author: R Mehta (github@hiro776)
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* width: 360px; */
    /* height: 640px; */
    overflow-y: scroll;
}

body {
    position: relative;
}

/* Header styles */

header {
    /* position: absolute; */
    width: 100vw;
    max-width: 600px;
    height: 78px;
    text-align: center;
    background: rgba(241, 201, 124, 0.8);
    padding-top: 1rem;
}

header>h1 {
    text-align: center;
    font-family: 'Yellowtail', sans-serif;
    color: #a27a2c;
}

/* Round section */

.round {
    margin: auto;
    margin-top: 2rem;
    width: 264px;
    height: 31px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', 'Barlow', sans-serif;
}

.block {
    display: inline-block;
}

.round span.block {
    text-align: center;
    width: 130px;
    font-size: 30px;
}

/* --- */

.number {
    color: #6c2a2a;
}

/* Weapon Section */

.rps {
    margin: auto;
    margin-top: 2.4rem;
    margin-bottom: 2rem;
    width: 322px;
    height: 124px;
}

.rps>p {
    font-size: small;
    margin: 0.95rem;
}

.rps-weapon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* weapon images(only images) size */

img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

/* ---- */

/* Computer choice section */
.computer {
    display: flex;
    align-items: center;
    height: 30px;
    font-family: inherit;
    font-size: small;
    margin-left: 20px;
}

.choice {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bolder;
}


/* Status Box */

.status {
    margin: auto;
    margin-top: 4rem;
    height: 46px;
    text-align: center;
    border: 1px solid rgba(162, 122, 44, 0.79);
    /* border-radius: 22px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.status > em {
    position:absolute;
    left: 50px;
}

.status .msg {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #0c2c3a;
}

/* ------- */

/* Score Section */

.score-board {
    height: 172px;
    margin-top: 2.4rem;
    text-align: center;
    background: rgba(253, 234, 196, 0.8);
}

.score-board>h2 {
    font-family: 'Barlow', sans-serif;
    font-style: 22px;
    font-weight: bold;
    line-height: 27px;
    color: #6f5015;
}

.score {
    margin: auto;
    margin-top: 2rem;
    width: 174px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 600px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body {
        /* margin: auto; */
        width: 600px;
        border: 1px solid #a27a2c;
        border-radius: 25px;
    }
    header {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .score-board {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}